h1, h2, h3, h4, h5 {
  letter-spacing: .0em;
}

.App {
  margin: 60px auto 20px auto;
}

.quote {
  color: #9b4dca;
  font-weight: normal;
}

section {
  margin: 30px 0;
}

.required {
  color:red;
}

small {
  font-weight: normal;
}

.links {
  padding: 10px 0;
}

.links div:last-child p {
  margin-bottom: 0;
}

.glimpse {
  max-width: 320px;
}

.faq h3 {
  border-bottom: 1px solid #ccc;
}

.faq ul {
  margin-left: 20px;
}

footer {
  margin-top: 60px;
}

.social-icon {
  width: 20px !important;
  height: 20px !important;
  margin-left: 5px;
}

@media (max-width: 800px) {
  .row .column.column-50 {
    max-width: 100%;
  }
}
